// Based on <https://github.com/heliom/stylus-utils/blob/master/styles.styl-sample>
// @import "nib"


// Base ----------------------------------------------------------------------
$background-color = #f4f4f4

body
  padding-top: 50px
  height: 100%
  max-height: 100%
  overflow: hidden;

.container
  height: 100%
  
.container > .row
  height: 100%

pre.panel
  padding: 0
  
.username-me
  color: #AAA7A7
  
.username-other
  color: #00C2FF
  
.chat-hour
  font-size: 12px
  color: #AAA7A7