extends layout

block content
    
    .container(style="margin-top: 20px;")
        .row
            .col-lg-3.col-md-3.col-sm-4
                .panel.panel-primary
                    .panel-heading Rooms
                    .list-group
                        a.list-group-item(href="#")
                            span.badge 1
                            | Room 1
                        a.list-group-item(href="#")
                            span.badge 1
                            | Room 1
                        a.list-group-item(href="#")
                            span.badge 1
                            | Room 1
                        a.list-group-item.active(href="#")
                            span.badge 1
                            | Room 1
                        a.list-group-item(href="#")
                            span.badge 1
                            | Room 1
            .col-lg-9.col-md-9.col-sm-8
                .panel.panel-success 
                    .panel-heading Room title
                    .panel-body
                        .row
                            .col-lg-2.col-sm-3.username-me username
                            .col-lg-10.col-sm-9
                                .row
                                    .col-lg-10.col-sm-9
                                        pre.panel a long message
                                            | asdas as asd asd asd asd
                                            | asd asd asdasd 
                                    .col-lg-2.col-sm-3.hidden-xs.chat-hour 12:31 PN
                                    
                            .col-lg-2.col-sm-3.username-other username
                            .col-lg-10.col-sm-9
                                .row
                                    .col-lg-10.col-sm-9
                                        pre.panel a long message
                                    .col-lg-2.col-sm-3.hidden-xs.chat-hour 12:31 PN
                                    
                            .col-lg-2.col-sm-3.username-me username
                            .col-lg-10.col-sm-9
                                .row
                                    .col-lg-10.col-sm-9
                                        pre.panel a long message
                                            | asdas as asd asd asd asd
                                            | asd asd asdasd 
                                    .col-lg-2.col-sm-3.hidden-xs.chat-hour 12:31 PN
                                    
                    .list-group    
                        .list-group-item
                            form.form-inline
                                .input-group
                                    input.form-control(type="text", name="message")
                                    .input-group-btn
                                        button.btn.btn-default(type="submit") Send
                                
