doctype 5
html(lang="en")
    head
        meta(charset="utf-8")
        title skeleton
        link(rel="stylesheet", href="/bootstrap3/css/bootstrap.css")
        != css('styles.css')
        
    body
        header.navbar.navbar-inverse.navbar-fixed-top
            .container
            
        block content
    
    
    
    | <script>
    | document.write('<script src=' +
    | ('__proto__' in {} ? 'http://zeptojs.com/zepto.min.js' : 'http://code.jquery.com/jquery-1.7.2.min.js') +
    | '><\/script>')
    | </script>
    
    script(src='/socket.io/socket.io.js')
    
    != js('scripts.js')
